* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--color-font);
}

#container-all {
    height: 100vh;
    position: relative;
}

i {
    cursor: pointer;
    font-size: 20px;
    color: grey;
}

/* dark version  */
.dark-mode {
    --bg-theme:linear-gradient( rgb(0,191,165) 20%, rgb(19,28,33) 20%);
    --col-1:rgb(42,47,50);
    --col-2:rgb(19, 28, 33);
    --color-font:white;
    --inverter:invert(1);
    --s-color:#ff405a;
    --r-color:#d5d0cd;
}
/* light-version */
.light-mode {
    --bg-theme:linear-gradient( rgb(0,191,165) 20%, rgb(214,219,215) 20%);
    --col-1:rgb(214,219,215);
    --col-2:white;
    --color-font:black;
    --inverter:invert(0);
    --s-color:#00bfa5;
    --r-color:white;
}

.theme {
    background: var(--bg-theme);
}

.color-1 {
    background-color: var(--col-1);
}
.color-2 {
    background-color: var(--col-2);
}

/* -------- main container -------- */
#main-container {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 5%;
    height: 90%;
    display: flex;
    border: 1px solid var(--col-1);
}

.box, .box-user {
    width: 100%;

}
.box-user {
    height: 100px;
    padding: 0px 10px;

}
.box {
    height: 60px;
    padding: 0px 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons i {
    margin: 0px 15px;
}
/* -------- colonna sinistra -------- */

#left-column {
    width: 30%;
    height: 100%;
    border-right: 0.2px solid grey;
    display: flex;
    flex-direction: column;
}

.change-mode {
    padding: 20px;
    text-align: center;
}
#users-list {
    height: 74%;
    width: 100%;
    overflow-y: auto;
    flex-grow: 1;
}

#users-list .box-user {
    height: 80px;
}

.profile-box {
    display: flex;
    justify-content: space-between;
    
}
.profile-name{
    display: flex;
    align-items: center;
}
.profile-name img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#users-list .profile-name img {
    width: 50px;
}

.user-name {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--col-1);
}
.user-name p {
    font-size: 10px;
    overflow-x: hidden;
    height: 15px;
    /* align-items: bottom; */
    margin-top: 10px;
    line-height: 10px;
    color: grey;
}
#users-list .profile-name h5{
    margin-top: 10px;
}
#search {
    display: flex;
    align-items: center;
}
#search i {

    margin-right: 20px;
}
 .input-bar {
    width: 100%;
    margin-right: 20px;
    border-radius: 25px;
    padding: 10px;
    border: none;    
    background-color: var(--col-1);
}

#silenced {
    background-color: lightskyblue;
    display: flex;
    align-items: center;

}

.silenced-icon {
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
    color: lightskyblue;
}
.silenced-text h5 {
    color: black;
}
.silenced-text h6 {
    color: grey;
    text-decoration: underline;
}

.left-column-profiles {
    cursor: pointer;
}
.left-column-profiles:hover {
    background-color: var(--col-1);
}
/* -------- colonna destra -------- */

#right-column {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#main {
    flex-grow: 1;
    width: 100%;
    background-image: url("../img/mine.jpg");
    filter: var(--inverter);
    padding: 25px;
    overflow-y: auto;
    position: relative;

}

#chat-interaction {
    display: flex;
    align-items: center;
}

#chat-interaction .c-i-icon {
    width: 5%;
}
#chat-interaction .c-i-input{
    width: 85%;

}
#chat-interaction .c-i-icon, #chat-interaction .c-i-input{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.post {
    padding: 10px;
    max-width: 60%;
    font-size: 15px;
    border-radius: 15px;

}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.sent-color {
    background-color: var(--s-color);
    /* float: right; */
    align-self: end;

}
.received-color {
    background-color: var(--r-color);
    /* float: left; */
    align-self: start;
}

.post-text {
    color: black;
    word-wrap:break-word;
    text-align: left;
}

.post-date {
    color: grey;
    font-size: 10px;
    text-align: right;
}

.post-imp-menu{
    width: 150px;
    /* height: 80px; */
    background-color: var(--col-2);
    justify-content: end;
    /* display: none; */
    padding: 15px 10px;
    line-height: 30px;
    margin-bottom: 20px;
}
.received-post {
    align-self: flex-start;

}
.sent-post {
   align-self: flex-end;
}
.post-rig {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.post-imp-menu li {
    list-style: none;
    cursor: pointer;
}
.post-imp-menu li:hover {
    background-color: var(--col-1);
}

.active {
    display: block;
}