<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
   
    <title>Boolzapp</title>
</head>
<body>
    <div id="root" :class="picked=='One' ? 'light-mode' : 'dark-mode'">
        <div id="container-all" class="theme">
            <div id="main-container">

                <!-- colonna sinistra  -->
                <div id="left-column">

                    <!-- rect profilo  -->
                    <div class="box profile-box color-1" >
                        <div class="profile-name">
                            <img src="img/avatar_io.jpg" alt="avatar_io">
                            <h3>Lorenzo</h3>
                        </div>
                        <div class="icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                    <div class="change-mode box color-2">
                        <input type="radio" id="one" value="One" v-model="picked" checked>
                        <label>Light Mode</label>
                        <input type="radio" id="two" value="Two" v-model="picked">
                        <label>Dark Mode</label>
                    </div>                
    
                    <!-- rect silenced  -->
                    <div id="silenced" class="box-user" >
                        <div class="silenced-icon">
                            <i class="far fa-bell-slash"></i>
                        </div>
                        <div class="silenced-text">
                            <h5>Ricevi notifiche di nuovi messaggi</h5>
                            <h6>Attiva notifice desktop</h6>
                        </div>

                    </div>

                    <!-- rect search  -->
                    <div id="search" class="box color-2">
                        <i class="fas fa-search" @click="searchUser()"></i>
                        <input class="input-bar" type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchForUser" @keyup="searchUser()">
                    </div>

                    <!-- user list  -->
                    <div id="users-list" class="color-2">
                        <ul>
                            <li class=" box-user profile-name left-column-profiles" v-for= "(element,index) in contacts" @click= "profile=index" :class="index==profile ? 'color-1' : '' " v-show="element.visible">
                                <div><img :src="`img/avatar${element.avatar}.jpg`" alt="avatar_io"></div>
                                <div class="user-name">
                                    <h5>{{element.name}}</h5>
                                    <p>{{element.messages[element.messages.length-1].message}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>





                <!-- colonna destra  -->
                <div id="right-column">

                    <!-- rect profilo utente con cui si sta parlando  -->
                    <div class="box profile-box color-1"  >
                        <div class="profile-name">
                            <img :src="`img/avatar${contacts[profile].avatar}.jpg`" alt="avatar_io">
                            <h5>{{contacts[profile].name}}</h5>
                        </div>
                        <div class="icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                    <!-- rect chat  -->
                    <div id="main">
                        <div class= "post-container clearfix" v-for="(mess,indice) in contacts[profile].messages" >
                            <div v-if="contacts[profile].messages[indice].status == 'received'" class="post received-color " @click="contacts[profile].messages[indice].seen = !contacts[profile].messages[indice].seen">
                                <p class="post-text">{{contacts[profile].messages[indice].message}}</p>
                                <p class="post-date">{{contacts[profile].messages[indice].date}}</p>
                            </div>
                            <div v-else class="post sent-color"  @click="contacts[profile].messages[indice].seen = !contacts[profile].messages[indice].seen">
                                <p class="post-text">{{contacts[profile].messages[indice].message}}</p>
                                <p class="post-date">{{contacts[profile].messages[indice].date}}</p>
                            </div>
                            <div class="post-imp-menu" :class="contacts[profile].messages[indice].status == 'received' ? 'received-post' : 'sent-post'" v-if="contacts[profile].messages[indice].seen">
                                <ul>
                                    <li @click="deleteMessage(indice)">Rimuovi</li>
                                    <li>Info Messaggio</li>
                                </ul>
                            </div>


                        </div>
                    </div>

                    <!-- rect interzione chat -->
                    <div id="chat-interaction" class="box color-2">
                        <div class="c-i-icon"><i class="far fa-smile"></i></div>
                        <div class="c-i-icon"><i class="fas fa-paperclip"></i></div>
                        <div class="c-i-input"><input v-model="messaggio" class="input-bar" type="text" placeholder="Scrivi qui il tuo messaggio" @keyup.enter="addMessage()"></div>
                        <div class="c-i-icon"><i class="fas fa-microphone"></i></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="javascript/script.js"></script>
</body>
</html>